:root {
    --rojo: #ef2b2d;
    --blanco: #ffffff;
    --azul: #002868;
    --negro: #000000;
}


/*Añadiendo estilos generales al ejercicio*/
html {
    /*Hack para solucionar el problema del BoxModel*/
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    /*
    Segunda parte del Hack para solucionar los problemas 
    del BoxModel

    Esto significa que todos los elementos que se creen antes 
    o depues emplearan la propiedad BORDER-BOX, del elemento raiz
    */
    box-sizing: inherit;
}

.marco-bandera {
    display: grid;
    width: 100%;
    height: 100vh;
    border: 0.2rem solid --var(--negro);
    background-color: var(--azul);
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;

}
.caja {
    background-color: var(--rojo);
}

